body {
    background-color: bisque;
    color:saddlebrown;
}

h1 {
    text-align: center;
}

img {
    float: left;
    margin-right: 150px;
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.block{
    border-radius: 20px;
    background-color:rgb(235, 205, 166);
    padding: 5px;
}

#Prep-Nutrition:hover {
    background-color: rgb(190, 166, 135);
}

#info {
    text-align: right;
}

#intro {
    text-align: center;
}